<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm an IT guy, located in Denmark, working as a consultant doing Unix-related system administration.</p>
                </div>
                <div class="col-lg-4">
                    <p>In my spare time I like to code and work on various automation projects. Feel free to check out my stuff on Github.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center page-scroll">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-comment"></i> Contact me
                    </a>
                </div>
            </div>
            
        </div>
    </section>